# Pandas Lecture Lab Activity

What is CRUD?

In [ ]:
Create Read Update Delete

Using pandas import the Module 7 Lecture Lab Activity.csv

In [ ]:
#pip install pandas
import pandas as pd
df = pd.read_csv("orders2.csv")

pd.set_option('display.width', 1000)

In [ ]:
print(df)

Show the header for the CSV.

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.describe()

Show the first 15 rows of the CSV.

In [ ]:
df.head(15)

Show the last 7 rows of the CSV.

In [ ]:
df.tail(7)

Show all the Columns of the CSV.

In [ ]:
df.columns

Show the specific data types of the CSV.

In [ ]:
df.dtypes

Show a statistical summary of the CSV.

In [ ]:
df.describe()

What objects are not included in the statistical summary?
How can I get the objects that are not included?

In [ ]:
Non numeric data

In [ ]:
# write the code to show me how to get the objects that are not included

In [ ]:
df.describe(include='all')

Show how to filter the names from the rest of the table?

In [ ]:
df.loc[df["CustomerName"] == "Anna Ivanova"]

Show me the unique names.

In [ ]:
df.value_counts("CustomerName")

Show me only the rows that are under $1.00

In [ ]:
#df[df["Price"] < 1]
df[df["Price"] < 50]

Show only the rows 17 to 37

In [ ]:
df.iloc[17:37]

Show only the rows that are for Damien.

In [ ]:
df.loc[df["CustomerName"] == "Anna Ivanova"]

Create a new column names is_candy and make all the rows True

In [ ]:
df['is_candy'] = True
print(df)

Change the name of the row you created to Candy.

In [ ]:
df = df.rename(columns={'is_candy': 'Candy'})
print(df)

Write an statement that iterates through the list and finds all the Snicker or snickers (for this I change it to anything that starts with Desk)

In [ ]:
df[df["Product"].str.lower().str.startswith("desk")]

Using iloc change the 3rd row's candy column to False

In [ ]:
df.iloc[2, 9] = False
print(df)

pOutput the table to a csv named 'your_last_name_mod7output.csv'

In [242]:
df.to_csv("roque_mod7output.csv", index=True)

Drop the candy column permanently

In [243]:
df = df.drop("Candy", axis=1)
print(df)

    OrderID      CustomerName                Product     Category  Quantity   Price   OrderDate Shipped       Country
0      1001        John Smith                 Laptop  Electronics         1  1200.0  2024-06-01     Yes           USA
1      1002         Sarah Lee             Headphones  Electronics         2   150.0  2024-06-03      No        Canada
2      1003          Ali Khan           Office Chair    Furniture         1   300.0  2024-06-04     Yes           UAE
3      1004        Alice Wong              Desk Lamp    Furniture         3    45.0  2024-06-05     Yes     Singapore
4      1005     Carlos Mendez               Keyboard  Electronics         2    80.0  2024-06-06      No        Mexico
5      1006      Nora Ibrahim               Notebook   Stationery         5     5.0  2024-06-07     Yes           UAE
6      1007       Emily Davis          Standing Desk    Furniture         1   450.0  2024-06-08     Yes            UK
7      1008        James Park                Monitor  Electronics         2   220.0  2024-06-09      No   South Korea
8      1009       Maria Rossi                    Pen   Stationery        10     1.5  2024-06-10     Yes         Italy
9      1010  Takeshi Nakamura                  Mouse  Electronics         1    35.0  2024-06-11     Yes         Japan
10     1011     Sophie Martin                 Webcam  Electronics         1    85.0  2024-06-12     Yes        France
11     1012         Raj Patel           File Cabinet    Furniture         2   180.0  2024-06-13      No         India
12     1013       Emma Wilson                Stapler   Stationery         3    12.0  2024-06-14     Yes     Australia
13     1014   Diego Rodriguez              USB Drive  Electronics         5    25.0  2024-06-15     Yes         Spain
14     1015         Lisa Chen              Bookshelf    Furniture         1   280.0  2024-06-16      No         China
15     1016      Ahmed Hassan          Printer Paper   Stationery        20     8.0  2024-06-17     Yes         Egypt
16     1017     Anna Kowalski         Wireless Mouse  Electronics         2    45.0  2024-06-18     Yes        Poland
17     1018     Michael Brown         Desk Organizer    Furniture         1    65.0  2024-06-19      No           USA
18     1019       Yuki Tanaka             Calculator  Electronics         1    15.0  2024-06-20     Yes         Japan
19     1020   Fatima Al-Zahra             Whiteboard    Furniture         1   120.0  2024-06-21     Yes  Saudi Arabia
20     1021    David Thompson           Highlighters   Stationery         8     3.5  2024-06-22      No        Canada
21     1022    Isabella Silva      Bluetooth Speaker  Electronics         1    95.0  2024-06-23     Yes        Brazil
22     1023    Oliver Schmidt           Office Plant    Furniture         2    35.0  2024-06-24     Yes       Germany
23     1024        Zara Ahmed           Sticky Notes   Stationery        15     4.0  2024-06-25      No      Pakistan
24     1025    Lucas Anderson           Tablet Stand  Electronics         1    28.0  2024-06-26     Yes        Sweden
25     1026      Chloe Dubois         Paper Shredder  Electronics         1    75.0  2024-06-27     Yes        France
26     1027     Miguel Torres         Desk Chair Mat    Furniture         1    22.0  2024-06-28      No     Argentina
27     1028       Nina Petrov           Binder Clips   Stationery        12     2.5  2024-06-29     Yes        Russia
28     1029      Seo-yeon Kim      Wireless Keyboard  Electronics         1   110.0  2024-06-30     Yes   South Korea
29     1030   Giuseppe Romano          Desk Calendar    Furniture         1    18.0  2024-07-01      No         Italy
30     1031      Amira Hassan                USB Hub  Electronics         1    32.0  2024-07-02     Yes       Morocco
31     1032     Thomas MÃ¼ller       Document Scanner  Electronics         1   140.0  2024-07-03     Yes       Germany
32     1033   Sofia Rodriguez  Desk Drawer Organizer    Furniture         1    42.0  2024-07-04      No      Colombia
33     1034      Alex Johnson            Index Cards   Stationery       100     0.8  2024-07-05     Yes           USA
34     1035     Yuki Yamamoto          Monitor Stand  Electronics         1    55.0  2024-07-06     Yes         Japan
35     1036     Emma Thompson     Desk Lamp with USB    Furniture         1    68.0  2024-07-07      No            UK
36     1037     Carlos Santos       Wireless Earbuds  Electronics         1   125.0  2024-07-08     Yes      Portugal
37     1038    Leila Mansouri               Desk Pad    Furniture         1    28.0  2024-07-09     Yes          Iran
38     1039        Daniel Kim            Power Strip  Electronics         2    18.0  2024-07-10      No   South Korea
39     1040      Anna Ivanova             Desk Clock    Furniture         1    35.0  2024-07-11     Yes       Ukraine

# Please turn in the completed Juypter Notebook along with your output csv to github. Make sure that I can see the notebook and it is not just the file as this sometimes does not work. A link to the location on the repo should be submitted.